<!DOCTYPE html>
<html class="no-js" lang="<%= config.language %>">
  <head>
  	<%- partial('_partials/head') _%> 
  </head>
  <body>
	<%- partial('_partials/helper/browser-update-tip') -%> 
	<!-- body start -->
	
	<%- body %>

    <%- partial('_partials/foot') -%> 
  </body>
</html>